<!--The content below is only a placeholder and can be replaced.-->
<body #body>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <h2>Missed letter:{{missedLetter | uppercase}}</h2>
   
  </div>

<div class="container">
  <div class="hangmanBox">
    <div class="wood man"></div>
    <div class="rope man"></div>
    <div class="head man"></div>
    <div class="torso man"></div>
    <div class="leftHand man"></div>
    <div class="rightHand man"></div>
    <div class="leftLeg man"></div>
    <div class="rightLeg man"></div>

  </div>
  
  <div #wordCtn class="wordContainer"></div>
  

</div>
<div class="endGameOverlay">      
<div *ngIf="endGame"class="endGame" (click)="restartGame()" >
  end game<br>
  try again
</div>
<div *ngIf="error"class="error" (click)="restartGame()" >
  
ups something went wrong ...<br> try again<br>

</div>
</div>
</body>
