body {
  background-color: powderblue;
}

.container {
  display: flex;
  flex-direction: column;
}
.missedLetter {
  font-weight: bold;
  font-size: 2em;
}

.wood {
  position: relative;
  width: 200px;
  height: 20px;
  background-color: brown;
  display: block;
  opacity: 0;
}
.rope {
  position: relative;
  width: 10px;
  height: 100px;
  background: bisque;
  opacity: 0;
  left: 170px;
}
.head {
  opacity: 0;
  width: 50px;
  height: 50px;
  border: 5px solid black;
  border-radius: 50%;
  position: relative;
  left: 145px;
}


.torso {
  opacity: 0;
  width: 10px;
  height: 100px;
  background-color: black;
  position: relative;
  left: 170px;
}
.leftHand {
  opacity: 0;
  width: 5px;
  height: 50px;
  background-color: black;
  position: relative;
  left: 152px;
  top: -105px;
  transform: rotate(45deg);
}
.rightHand {
  opacity: 0;
  width: 5px;
  height: 50px;
  background-color: black;
  position: relative;
  left: 193px;
  top: -156px;
  -webkit-transform: rotate(45deg);
  transform: rotate(135deg);
}
.leftLeg {
  opacity: 0;
  width: 5px;
  height: 50px;
  background-color: black;
  position: relative;
  left: 152px;
  top: -110px;
  transform: rotate(45deg);
}

.rightLeg {
  opacity: 0;
  width: 5px;
  height: 50px;
  background-color: black;
  position: relative;
  left: 193px;
  top: -160px;
  -webkit-transform: rotate(45deg);
  transform: rotate(135deg);
}





.add {
  background-color:antiquewhite;
  font-size: 46px
}

.show {
  
  opacity: 1;
}
.wordContainer {
  
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 100px;
  left: 0px;
  right: 0px;
}



@media only screen and (max-width: 600px) {
  body {
   
  }
}
