* {
  box-sizing: border-box;
}


body {
  background-color: powderblue;
}

.container {
  display: flex;
  flex-direction: column;
}

.missedLetter {
  font-weight: bold;
  font-size: 2em;
}

.hangmanBox > div {
  border-radius: 10%;
}

.wood {
  position: relative;
  width: 200px;
  height: 20px;
  background-color: brown;
  display: block;
  opacity: 0;
}

.rope {
  position: relative;
  width: 10px;
  height: 100px;
  background: bisque;
  opacity: 0;
  left: 170px;
}

div.head {
  opacity: 0;
  width: 50px;
  height: 50px;
  border: 5px solid black;
  border-radius: 50% !important;
  position: relative;
  left: 145px;
}


.torso {
  opacity: 0;
  width: 10px;
  height: 100px;
  background-color: black;
  position: relative;
  left: 170px;
}

.leftHand {
  opacity: 0;
  width: 5px;
  height: 50px;
  background-color: black;
  position: relative;
  left: 152px;
  top: -105px;
  transform: rotate(45deg);
}

.rightHand {
  opacity: 0;
  width: 5px;
  height: 50px;
  background-color: black;
  position: relative;
  left: 193px;
  top: -156px;
  -webkit-transform: rotate(45deg);
  transform: rotate(135deg);
}

.leftLeg {
  opacity: 0;
  width: 5px;
  height: 50px;
  background-color: black;
  position: relative;
  left: 152px;
  top: -110px;
  transform: rotate(45deg);
}

.rightLeg {
  opacity: 0;
  width: 5px;
  height: 50px;
  background-color: black;
  position: relative;
  left: 193px;
  top: -160px;
  -webkit-transform: rotate(45deg);
  transform: rotate(135deg);
}





.add {
  background-color: antiquewhite;
  font-size: 46px
}

div.show {
  opacity: 1;
}

.wordContainer {
  display: flex;
  justify-content: center;
 // position: absolute;
  bottom: 100px;
  left: 0px;
  right: 0px;
  flex-wrap: wrap;
}

.endGameOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .endGame, .error {
    padding: 10px;
    text-align: center;
   
    width: 200px;
    background-color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  body {
  }
}
